// Colors
$primaryDark: #253628; //very dark green
$secondaryDark: #49654C; //dark green, i like it
$primary: #8AA989; // light green
$secondary: #C0CEB2; //green ish
$primaryLight: #E3E6DA; //grey ish
$secondaryLight: #EBEBE9; // light grey



// Card